<template>
  <footer class="footer secondary-gradient">
    <div class="container mx-auto">
      <div class="subscribe">
        <h4
          class="font-bold text-white text-xl md:text-2xl mb-[10px] w-full md:w-4/12 md:mb-0"
        >
          Register now so you don't miss our programs
        </h4>
        <div class="subscribe__form">
          <input placeholder="Enter your Email" />
          <UiButton class="w-full sm:w-auto">Subcribe Now</UiButton>
        </div>
      </div>
      <div
        class="flex flex-col md:flex-row justify-center items-center md:justify-between gap-5"
      >
        <nav class="footer__nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Category</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </nav>
        <nav class="footer__sosmed">
          <ul>
            <li>
              <a href="/"
                ><NuxtImg src="/images/sm/Facebook.svg" width="20" height="20"
              /></a>
            </li>
            <li>
              <a href="/"
                ><NuxtImg src="/images/sm/Twitter.svg" width="20" height="20"
              /></a>
            </li>
            <li>
              <a href="/"
                ><NuxtImg src="/images/sm/Instagram.svg" width="20" height="20"
              /></a>
            </li>
            <li>
              <a href="/"
                ><NuxtImg src="/images/sm/Youtube.svg" width="20" height="20"
              /></a>
            </li>
          </ul>
        </nav>
      </div>

      <hr class="sparator" />

      <div class="footer__bottom">
        <span
          class="text-[10px] sm:text-sm order-last sm:order-1 text-neutral-60"
          >© 2022 Monito. All rights reserved.</span
        >

        <NuxtImg
          src="/images/logo.svg"
          width="114px"
          height="26px"
          alt="Monito Logo"
          class="order-first sm:order-2 mb-8 md:m-0"
        />

        <nav class="sm:order-3 flex gap-3 mb-2">
          <a href="#" class="text-sm text-neutral-60">Terms of Service</a>
          <a href="#" class="text-sm text-neutral-60">Privacy Policy</a>
        </nav>
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
.footer {
  padding: 40px 0 80px;
  border-radius: 40px 40px 0px 0px;
  &__nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-item {
      display: inline-flex;
    }
    &-link {
      @apply text-primary font-bold;
    }
  }
  &__sosmed {
    ul {
      @apply list-none p-0 m-0 flex gap-10;
    }
    li {
      @apply inline-flex;
    }
    a {
      @apply text-neutral font-semibold;
    }
  }

  .sparator {
    @apply border-0 my-10 w-full h-[1px] bg-neutral-20;
  }

  &__bottom {
    @apply flex flex-col md:flex-row items-center justify-between;
  }
}

.subscribe {
  border-radius: 16px;
  padding: 16px;
  background: theme("colors.primary.DEFAULT");
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  @media (screen(md)) {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 32px;
  }

  &__form {
    background: theme("colors.white.DEFAULT");
    padding: 12px;
    border-radius: 16px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex: 1;
    @media (screen(md)) {
      flex-direction: row;
    }
    input {
      padding: 14px 28px;
      border: 1px solid theme("colors.neutral.40");
      border-radius: 8px;
      flex: 1;
    }
  }
}
</style>
