<template>
  <header class="header">
    <div class="container mx-auto">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-[48px]">
          <a href="/" class="logo">
            <NuxtImg
              src="/images/logo.svg"
              alt="Monito Logo"
              width="114px"
              height="26px"
            />
          </a>
          <nav class="header__nav">
            <ul>
              <li class="header__nav-item">
                <a href="" class="header__nav-link">Home</a>
              </li>
              <li class="header__nav-item">
                <a href="" class="header__nav-link">Category</a>
              </li>
              <li class="header__nav-item">
                <a href="" class="header__nav-link">About</a>
              </li>
              <li class="header__nav-item">
                <a href="" class="header__nav-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex items-center gap-[14px]">
          <div class="header__search">
            <NuxtImg src="/images/search.svg" width="20px" height="20px" />
            <input placeholder="Search something here" />
          </div>
          <UiButton class="font-bold" rounded>Join the community</UiButton>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
.header {
  padding: 40px 0;
  position: fixed;
  width: 100%;
  &__nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 48px;
    }
    &-item {
      display: inline-flex;
    }
    &-link {
      @apply text-primary font-bold;
    }
  }

  &__search {
    @apply rounded-full py-3 px-4 bg-white flex gap-3;
    input {
      flex: 1;
    }
  }
}
</style>
