<template>
  <component
    :is="to ? 'nuxt-link' : href ? 'a' : 'button'"
    :to="to"
    :href="href"
    :class="buttonClass"
    @click="$emit('click')"
  >
    <slot></slot>
  </component>
</template>

<script setup lang="ts">
const props = defineProps({
  to: {
    type: String,
    default: null,
  },
  href: {
    type: String,
    default: null,
  },
  rounded: Boolean,
  variant: {
    type: String,
    default: "default",
    validator(value: string, props) {
      return ["default", "outline"].includes(value);
    },
  },
});

const buttonClass = computed(() => {
  return [
    "pt-[14px] pb-[10px] px-7 rounded-[8px] font-medium",
    { "rounded-full": props.rounded },
    { "bg-primary text-white": props.variant === "default" },
    { "border border-primary text-primary": props.variant === "outline" },
  ];
});
</script>

<style lang="scss"></style>
