<template>
  <div class="product-card">
    <NuxtImg
      :src="item.image"
      width="264"
      height="264"
      :alt="item.name"
      class="product-card__img"
    />
    <div class="product-card__content">
      <h3 class="font-bold">{{ item.name }}</h3>

      <ul class="product-card__option">
        <li v-for="option in item.options">
          <span>{{ option.label }}:</span>
          <span class="font-bold ml-1.5">{{ option.value }}</span>
        </li>
      </ul>

      <span class="text-sm font-bold">{{ item.price }}</span>

      <div v-if="item?.free" class="product-card__gift">
        <img
          src="/images/gift.svg"
          width="18px"
          height="19px"
          alt="gift icon"
        />
        <span class="mx-2 text-[8px]">●</span>
        <span class="text-sm">{{ item.free }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  item: any;
}>();
</script>

<style lang="scss">
.product-card {
  align-items: flex-start;
  background-color: theme("colors.neutral.0");
  border-radius: 12px;
  box-shadow: 0px 4px 28px -2px rgb(0 0 0 / 8%);
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 8px 20px;

  &__img {
    width: 100%;
    height: auto;
  }

  &__content {
    gap: 4px;
    padding: 8px;
    width: 100%;
  }

  &__option {
    list-style: none;
    li {
      display: inline-flex;
      font-size: 12px;
      color: theme("colors.neutral.60");

      &:not(:last-child):after {
        content: "●";
        padding: 0 8px;
      }
    }
  }

  &__gift {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 10px;
    color: theme("colors.primary.80");
    background-color: theme("colors.secondary.40");
    border-radius: 8px;
    margin-top: 10px;
  }
}
</style>
