@tailwind base;
@tailwind components;
@tailwind utilities;

.secondary-gradient {
  background: rgb(252, 238, 213);
  background: linear-gradient(
    145deg,
    rgba(252, 238, 213, 1) 6%,
    rgba(252, 238, 213, 1) 75%,
    rgba(255, 231, 186, 1) 100%
  );
}

.section {
  @apply container mx-auto mb-[60px];
}
