<template>
  <component
    v-for="item in data?.sections"
    :key="item.id"
    :is="blocks(item.component)"
    v-bind="item.props"
  />
</template>

<script setup lang="ts">
const { data } = await useAsyncData("item", () => $fetch("/api/homepage"));
const BlocksHeroBanner = resolveComponent("BlocksHeroBanner");
const BlocksPets = resolveComponent("BlocksPets");
const BlocksBanner1 = resolveComponent("BlocksBanner1");
const BlocksBanner2 = resolveComponent("BlocksBanner2");
const BlocksSellers = resolveComponent("BlocksSellers");
const BlocksNews = resolveComponent("BlocksNews");
const BlocksProducts = resolveComponent("BlocksProducts");

useSeoMeta({
  title: data.value?.seo.title,
  ogTitle: "My Amazing Site",
  description: "This is my amazing site, let me tell you all about it.",
  ogDescription: "This is my amazing site, let me tell you all about it.",
  ogImage: "https://example.com/image.png",
  twitterCard: "summary_large_image",
});

const blocks = (component: string) => {
  switch (component) {
    case "HeroBanner":
      return BlocksHeroBanner;
    case "Pets":
      return BlocksPets;
    case "Banner1":
      return BlocksBanner1;
    case "Banner2":
      return BlocksBanner2;
    case "Products":
      return BlocksProducts;
    case "Sellers":
      return BlocksSellers;
    case "News":
      return BlocksNews;
    default:
      break;
  }
};
</script>
