<template>
  <section class="section">
    <div class="flex mb-7">
      <div>
        <span class="block mb-1">{{ data.subTitle }}</span>
        <h3 class="text-primary text-2xl font-bold">{{ data.title }}</h3>
      </div>
    </div>

    <div class="grid grid-cols-2 xl:grid-cols-4 gap-4">
      <component
        v-for="(item, index) in data.items"
        :key="index"
        :is="UiProductCard"
        :item="item"
      />
    </div>
  </section>
</template>

<script setup lang="ts">
const UiProductCard = resolveComponent("UiProductCard");

const props = defineProps<{
  config: any;
  data: any;
}>();
</script>
